In [1]:
import keras
import pandas as pd
import numpy as np

Using TensorFlow backend.

In [2]:
raw = pd.read_csv('uniprot-all.tab', sep='\t').dropna()
raw.head()

,Entry,Sequence,Protein families
5,Q65210,MGNRLIRSYLPNTVMSIEDKQNKYNETIEDSKICNKVYIKQSGKID...,Asfivirus MGF 100 family
6,P0C9F7,MGNRLNGSYLSNTDMSIEDKQNKYNEAIEDCKICNKVYIKQSGKID...,Asfivirus MGF 100 family
9,P0C9J8,MKVFLGLLLGFSIILILTYQSPTTQHPPKEELAYWCTYAKSCDFCW...,Asfivirus MGF 110 family
10,P0C9J7,MKAFLGFLLLSYLAIILVHDNVNCIIFGIFDPCFYKISSKISNDYS...,Asfivirus MGF 110 family
11,P18560,MLGLQIFTLLSIPTLLYTYEIEPLERTSTPPEKELGYWCTYANHCR...,Asfivirus MGF 110 family

In [3]:
raw.shape

(494516, 3)

In [4]:
raw['Protein families'].value_counts()

Class-II aminoacyl-tRNA synthetase family                                                                              4476
Class-I aminoacyl-tRNA synthetase family                                                                               3592
ATPase alpha/beta chains family                                                                                        2365
G-protein coupled receptor 1 family                                                                                    1931
Cytochrome b family                                                                                                    1796
Heat shock protein 70 family                                                                                           1285
HisA/HisF family                                                                                                       1262
MurCDEF family                                                                                                         1164
Cytochrome P450 family                                                                                                 1154
Ribosomal protein S4P family                                                                                           1148
ATCase/OTCase family                                                                                                   1117
Chaperonin (HSP60) family                                                                                              1110
Ribosomal protein S2P family                                                                                           1094
Ribosomal protein S7P family                                                                                           1090
Globin family                                                                                                          1073
Ribosomal protein L2P family                                                                                           1055
Ribosomal protein S19P family                                                                                          1052
Ribosomal protein L14P family                                                                                          1039
Ribosomal protein S12P family                                                                                          1027
TRAFAC class translation factor GTPase superfamily, Classic translation factor GTPase family, EF-Tu/EF-1A subfamily    1017
Ribosomal protein S8P family                                                                                           1012
Ribosomal protein L22P family                                                                                           998
Ribosomal protein S11P family                                                                                           993
Ribosomal protein S15P family                                                                                           989
TRAFAC class translation factor GTPase superfamily, Classic translation factor GTPase family, EF-G/EF-2 subfamily       977
Ribosomal protein L16P family                                                                                           973
Ribosomal protein S3P family                                                                                            968
RNA polymerase beta chain family                                                                                        968
Ribosomal protein L33P family                                                                                           967
Prokaryotic/mitochondrial release factor family                                                                         955
                                                                                                                       ...
Microvirus E protein family                                                                                               1
Small GTPase superfamily                                                                                                  1
Transposase 9 family                                                                                                      1
Huwentoxin-1 family, CcoTx3 subfamily                                                                                     1
Thiazole tautomerase family                                                                                               1
Phospholipase A2 family, Group IX subfamily                                                                               1
Heteromeric odorant receptor channel (TC 1.A.69) family                                                                   1
AP2/ERF transcription factor family                                                                                       1
Orthopoxviruses G3R protein family                                                                                        1
SLC13A/DASS transporter (TC 2.A.47) family                                                                                1
PaaX family                                                                                                               1
Huwentoxin-1 family, GrTx subfamily                                                                                       1
UPF0653 family                                                                                                            1
RibF family; MnmA/TRMU family                                                                                             1
Huwentoxin-1 family, Jztx-9 subfamily                                                                                     1
Thiamine-phosphate synthase family; ThiC family                                                                           1
Benzoyl-CoA oxygenase component C family                                                                                  1
Lentiviruses Vif protein family                                                                                           1
Plant Mediator complex subunit 30 family                                                                                  1
Argonaute family                                                                                                          1
Huwentoxin-1 family, Jztx-60 subfamily                                                                                    1
CopC family; CopD family                                                                                                  1
Terpene synthase family, Tpsf subfamily                                                                                   1
Adenoviridae E3-CR1 family                                                                                                1
Huwentoxin-1 family, OAIP-2 subfamily                                                                                     1
EspA/SseB family                                                                                                          1
Peptidase M28 family, M28C subfamily                                                                                      1
Rhabdoviruses glycoprotein family                                                                                         1
Disease resistance TIR-NB-LRR-X family                                                                                    1
Polyomaviruses capsid protein VP1 family                                                                                  1
Name: Protein families, dtype: int64

In [5]:
class1 = raw[raw['Protein families'] == 'Class-I aminoacyl-tRNA synthetase family']
class1.tail()

,Entry,Sequence,Protein families
474114,P57602,MILSKPILLSAVQPSGNLTIGNYIGTMRHWSKMQNNYECLYCIADL...,Class-I aminoacyl-tRNA synthetase family
474115,Q891C7,MGGINMEDNKKTIFSGIQPSGNLTIGNYFGALKNWVKLQDEYNCFY...,Class-I aminoacyl-tRNA synthetase family
474116,P67589,MTKPIVFSGAQPSGELTIGNYMGALRQWVNMQDDYHCIYCIVDQHA...,Class-I aminoacyl-tRNA synthetase family
474117,Q9EYY6,MTKPIVFSGAQPSGELTIGNYMGALRQWVNMQDDYHCIYCIVDQHA...,Class-I aminoacyl-tRNA synthetase family
474118,Q830U2,MKTIFSGIQPSGTPTIGNYIGAMKQFIELQNEYNCYFCIVDEHAIT...,Class-I aminoacyl-tRNA synthetase family

In [6]:
class1.shape

(3592, 3)

In [7]:
class2 = raw[raw['Protein families'] == 'Class-II aminoacyl-tRNA synthetase family']
class2.tail()

,Entry,Sequence,Protein families
472132,Q8P7Z2,MPMITITLPDGSRREFDAPVSVMQVAQSIGAGLAKATIAGQVDGQL...,Class-II aminoacyl-tRNA synthetase family
472133,Q5GXY0,MINITLPDGSRREFESPVSVMQVAQSIGAGLAKATIAGRVDGQLVD...,Class-II aminoacyl-tRNA synthetase family
472134,A7FHG1,MPVITLPDGSQRHYDHAVSVLDVALDIGPGLAKACIAGRVNGELVD...,Class-II aminoacyl-tRNA synthetase family
472135,A4TIL1,MPVITLPDGSQRHYDHAVSVLDVALDIGPGLAKACIAGRVNGELVD...,Class-II aminoacyl-tRNA synthetase family
543933,P38708,MPVSEAFAKLCVNEKPPAESAVAVKSLVFKPKTPKSATPVPIVVVA...,Class-II aminoacyl-tRNA synthetase family

In [8]:
class2.shape

(4476, 3)

In [9]:
chars = ['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'V', 'W', 'X', 'Y']
char_indices = dict((c, i) for i, c in enumerate(chars))
indices_char = dict((i, c) for i, c in enumerate(chars))

In [10]:
maxlen = 30
step = 3

In [11]:
#for i in range(0, len(text) - maxlen, step):
#    sentences.append(text[i: i + maxlen])
#    next_chars.append(text[i + maxlen])

In [12]:
def cut(seq):
    for i in range(0, len(seq) - maxlen, step):
        slices.append(seq[i: i + maxlen])

In [13]:
slices = []
class1['Sequence'].apply(cut)
len(slices)

668666

In [14]:
df1 = pd.Series(slices).to_frame('slice')
df1.tail()

                                 slice
668661  RYQELLASEELDMILDEGAENARLVANKTL
668662  ELLASEELDMILDEGAENARLVANKTLQRM
668663  ASEELDMILDEGAENARLVANKTLQRMKNA
668664  ELDMILDEGAENARLVANKTLQRMKNAVGL
668665  MILDEGAENARLVANKTLQRMKNAVGLGRK

In [15]:
df1['label'] = 0
df1.head()

                            slice  label
0  MLKLISRNAINKNKIILFRLYTTTINSSNN      0
1  LISRNAINKNKIILFRLYTTTINSSNNGST      0
2  RNAINKNKIILFRLYTTTINSSNNGSTIRE      0
3  INKNKIILFRLYTTTINSSNNGSTIREWKK      0
4  NKIILFRLYTTTINSSNNGSTIREWKKPSL      0

In [16]:
X1 = np.zeros((len(slices), maxlen, len(chars)), dtype=np.bool)
#y1 = np.zeros((len(slices), len(chars)), dtype=np.bool)

for i, sequence in enumerate(slices):
    for t, char in enumerate(sequence):
        X1[i, t, char_indices[char]] = 1

#    y[i, char_indices[next_chars[i]]] = 1

y1 = df1.label.values

X1.shape

(668666, 30, 21)

In [17]:
y1.shape

(668666,)

In [18]:
slices = []
class2['Sequence'].apply(cut)
len(slices)

826094

In [19]:
df2 = pd.Series(slices).to_frame('slice')
df2.tail()

                                 slice
826089  DKAPSMGAKSLCIPFDQPVLNEGQKCIKCE
826090  PSMGAKSLCIPFDQPVLNEGQKCIKCERIA
826091  GAKSLCIPFDQPVLNEGQKCIKCERIAVNY
826092  SLCIPFDQPVLNEGQKCIKCERIAVNYCMF
826093  IPFDQPVLNEGQKCIKCERIAVNYCMFGRS

In [20]:
df2['label'] = 1
df2.tail()

                                 slice  label
826089  DKAPSMGAKSLCIPFDQPVLNEGQKCIKCE      1
826090  PSMGAKSLCIPFDQPVLNEGQKCIKCERIA      1
826091  GAKSLCIPFDQPVLNEGQKCIKCERIAVNY      1
826092  SLCIPFDQPVLNEGQKCIKCERIAVNYCMF      1
826093  IPFDQPVLNEGQKCIKCERIAVNYCMFGRS      1

In [21]:
X2 = np.zeros((len(slices), maxlen, len(chars)), dtype=np.bool)
#y1 = np.zeros((len(slices), len(chars)), dtype=np.bool)

for i, sequence in enumerate(slices):
    for t, char in enumerate(sequence):
        X2[i, t, char_indices[char]] = 1

#    y[i, char_indices[next_chars[i]]] = 1

y2 = df2.label.values

X2.shape

(826094, 30, 21)

In [22]:
y2.shape

(826094,)

In [23]:
X = np.concatenate((X1, X2))

In [24]:
X.shape

(1494760, 30, 21)

In [25]:
df = pd.concat([df1,df2])
y = pd.get_dummies(df.label).values
y.shape

(1494760, 2)

In [26]:
from keras.models import Sequential
from keras.layers import Dense, Activation
from keras.layers import GRU, LSTM

In [27]:
model = Sequential()
model.add(GRU(128, input_shape=(maxlen,len(chars))))
model.add(Dense(len(chars)))
model.add(Dense(2))
model.add(Activation('softmax'))

model.compile(optimizer='rmsprop', loss='categorical_crossentropy')

In [28]:
model.fit(X,y)

Epoch 1/10
1494760/1494760 [==============================] - 5668s - loss: 0.1899
Epoch 2/10
1494760/1494760 [==============================] - 5542s - loss: 0.0711
Epoch 3/10
1494760/1494760 [==============================] - 5454s - loss: 0.0531
Epoch 4/10
1494760/1494760 [==============================] - 5435s - loss: 0.0457
Epoch 5/10
1494760/1494760 [==============================] - 5414s - loss: 0.0411
Epoch 6/10
1494760/1494760 [==============================] - 5660s - loss: 0.0379
Epoch 7/10
1494760/1494760 [==============================] - 5578s - loss: 0.0359
Epoch 8/10
1494760/1494760 [==============================] - 5568s - loss: 0.0340
Epoch 9/10
1494760/1494760 [==============================] - 5553s - loss: 0.0329
Epoch 10/10
1494760/1494760 [==============================] - 6175s - loss: 0.0315

In [29]:
def test_cut(seq):
    for i in range(1, len(seq) - maxlen, step):
        test_slices.append(seq[i: i + maxlen])

In [30]:
test_slices = []
class1['Sequence'].apply(test_cut)
test_df = pd.Series(test_slices).to_frame('slice')

In [31]:
test = np.zeros((len(test_slices), maxlen, len(chars)), dtype=np.bool)
#y1 = np.zeros((len(slices), len(chars)), dtype=np.bool)

for i, sequence in enumerate(test_slices):
    for t, char in enumerate(sequence):
        test[i, t, char_indices[char]] = 1

#    y[i, char_indices[next_chars[i]]] = 1


test.shape

(667470, 30, 21)

In [32]:
model.predict(test)

array([[  9.99745786e-01,   2.54228391e-04],
       [  9.99992013e-01,   8.01715396e-06],
       [  9.99993682e-01,   6.34755907e-06],
       ...,
       [  9.99893069e-01,   1.06907028e-04],
       [  9.85908568e-01,   1.40914777e-02],
       [  9.97927070e-01,   2.07286165e-03]], dtype=float32)